.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ff8c00;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button.disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .submit-button:hover:not(.disabled) {
    background-color: #ff7300;
  }